/** Materio Template styles **/
/** https://github.com/themeselection/materio-vuetify-vuejs-admin-template-free **/

@use "sass:map";
@use "@/styles/desktop/template/base";

// layouts
@use "./vertical-nav";
@use "./default-layout-w-vertical-nav";

// Components
@use "./components";

// Utilities
@use "./utilities";
