/** Materio Template layout styles **/
/** https://github.com/themeselection/materio-vuetify-vuejs-admin-template-free **/

*,
::before,
::after {
    box-sizing: inherit;
    background-repeat: no-repeat;
}

html {
    box-sizing: border-box;
}
