:root {
    --ebk-icon-font-size: 28px;
    --ebk-icon-text-margin: 2px;
    --ebk-hide-icon-font-size: 18px;
    --ebk-big-icon-button-size: 42px;
    --ebk-right-bottom-icon-font-size: 13px;
    --ebk-list-item-checked-icon-font-size: 20px;
    --ebk-searchbar-icon-font-size: 20px;
    --ebk-searchbar-disable-button-font-size: 17px;
    --ebk-smaller-font-size: 10px;
    --ebk-large-footer-font-size: 13px;
    --ebk-sheet-title-font-size: 18px;
    --ebk-numpad-value-height: 50px;
    --ebk-numpad-value-small-font-size: 20px;
    --ebk-numpad-value-normal-font-size: 22px;
    --ebk-numpad-value-large-font-size: 24px;
    --ebk-numpad-normal-button-font-size: 28px;
    --ebk-numpad-confirm-button-font-size: 20px;
    --ebk-amount-small-font-size: 32px;
    --ebk-amount-normal-font-size: 36px;
    --ebk-amount-large-font-size: 40px;
    --ebk-pie-chart-toolbox-percentage-height: 30px;
    --ebk-pie-chart-toolbox-percentage-font-size: 18px;
    --ebk-pie-chart-toolbox-text-font-size: 16px;
    --ebk-account-list-group-title-height: 36px;
    --ebk-transaction-date-width: 25px;
    --ebk-transaction-day-font-size: 16px;
    --ebk-transaction-day-of-week-font-size: 12px;
    --ebk-license-popup-title-font-size: 30px;
}
