:root.font-size-large,
:root .preview-font-size-large {
    font-size: 15px;
    --f7-font-size: 15px;
    --f7-navbar-font-size: 18px;
    --f7-searchbar-input-font-size: 18px;
    --f7-searchbar-input-height: 32px;
    --f7-toolbar-font-size: 18px;
    --f7-tabbar-icon-size: 29px;
    --f7-tabbar-icons-height: 50px;
    --f7-tabbar-label-font-size: 13px;
    --f7-label-font-size: 13px;
    --f7-label-height: 16px;
    --f7-input-font-size: 17px;
    --f7-input-height: 40px;
    --f7-button-font-size: 15px;
    --f7-button-small-font-size: 14px;
    --f7-button-small-height: 26px;
    --f7-button-large-font-size: 18px;
    --f7-chip-font-size: 15px;
    --f7-block-title-font-size: 17px;
    --f7-block-title-line-height: 20px;
    --f7-block-font-size: 17px;
    --f7-block-footer-font-size: 15px;
    --f7-card-header-font-size: 18px;
    --f7-list-group-title-font-size: 18px;
    --f7-list-group-title-height: 31px;
    --f7-list-item-header-font-size: 13px;
    --f7-list-item-title-font-size: 17px;
    --f7-list-item-text-font-size: 16px;
    --f7-list-font-size: 17px;
    --f7-list-item-after-font-size: 17px;
    --f7-list-item-footer-font-size: 13px;
    --f7-list-button-font-size: 17px;
    --f7-list-item-min-height: 46px;
    --f7-list-item-padding-horizontal: 16px;
    --f7-list-media-item-padding-vertical: 10px;
    --f7-treeview-label-font-size: 18px;
    --f7-swipeout-button-font-size: 17px;
    --f7-dialog-title-font-size: 19px;
    --f7-dialog-font-size: 15px;
    --f7-dialog-button-font-size: 18px;
    --f7-actions-label-font-size: 14px;
    --f7-actions-button-font-size: 21px;
    --dp-font-size: 17px;
    --dp-time-font-size: 34px;
    --ebk-icon-font-size: 29px;
    --ebk-icon-text-margin: 3px;
    --ebk-hide-icon-font-size: 19px;
    --ebk-big-icon-button-size: 44px;
    --ebk-icon-after-text-font-size: 17px;
    --ebk-right-bottom-icon-font-size: 13px;
    --ebk-page-title-bar-icon-font-size: 17px;
    --ebk-list-item-checked-icon-font-size: 21px;
    --ebk-searchbar-icon-font-size: 20px;
    --ebk-searchbar-disable-button-font-size: 17px;
    --ebk-smaller-font-size: 11px;
    --ebk-large-footer-font-size: 14px;
    --ebk-sheet-title-font-size: 19px;
    --ebk-numpad-value-height: 52px;
    --ebk-numpad-value-small-font-size: 21px;
    --ebk-numpad-value-normal-font-size: 23px;
    --ebk-numpad-value-large-font-size: 25px;
    --ebk-numpad-normal-button-font-size: 29px;
    --ebk-numpad-confirm-button-font-size: 21px;
    --ebk-amount-small-font-size: 32px;
    --ebk-amount-normal-font-size: 36px;
    --ebk-amount-large-font-size: 40px;
    --ebk-pie-chart-toolbox-percentage-height: 30px;
    --ebk-pie-chart-toolbox-percentage-font-size: 19px;
    --ebk-pie-chart-toolbox-text-font-size: 17px;
    --ebk-trends-bar-chart-legend-icon-font-size: 19px;
    --ebk-trends-bar-chart-legend-text-font-size: 15px;
    --ebk-account-list-group-title-height: 37px;
    --ebk-category-separate-icon-font-size: 18px;
    --ebk-transaction-date-width: 28px;
    --ebk-transaction-day-font-size: 17px;
    --ebk-transaction-day-of-week-font-size: 13px;
    --ebk-transaction-calendar-amount-font-size: 13px;
    --ebk-transaction-calendar-daily-amounts-height: 65px;
    --ebk-transaction-account-arrow-font-size: 13px;
    --ebk-transaction-account-arrow-margin-top: -2px;
    --ebk-transaction-tag-icon-font-size: 24px;
    --ebk-transaction-tag-chip-font-size: 13px;
    --ebk-transaction-tag-chip-media-size: 20px;
    --ebk-transaction-tag-chip-height: 20px;
    --ebk-transaction-picture-size: 128px;
    --ebk-transaction-picture-add-icon-size: 40px;
    --ebk-transaction-picture-remove-icon-size: 32px;
    --ebk-login-page-title-font-size: 28px;
    --ebk-license-popup-title-font-size: 31px;
    --ebk-license-content-font-size: 15px;
}
