/** Replacing the default style of @vuepic/vue-datepicker **/
.dp--theme-light {
    --dp-primary-color: #c67e48;
    --dp-background-color: inherit;
    --dp-border-color: #aaa;
    --dp-menu-border-color: #aaa;

    .dp--overlay {
        --dp-background-color: #e1e1e2;
    }
}

.dp--theme-dark {
    --dp-primary-color: #c67e48;
    --dp-background-color: inherit;
    --dp-border-color: #555;
    --dp-menu-border-color: #555;

    .dp--overlay {
        --dp-background-color: #1f1f1f;
    }
}

/** Fix @vuepic/vue-datepicker style issue **/
.dp--main {
    &.dp--flex-display {
        flex-direction: column;
    }

    .dp--tp-wrap {
        max-width: 100%;
    }

    .dp--menu-inner {
        padding-block: 0;

        .dp--header-wrap {
            > .dp--month-year-wrap {
                > button {
                    width: unset;
                }
            }
        }
    }

    .dp--calendar .dp--calendar-item {
        flex: 1;

        > .dp--cell-inner {
            width: 100%;
        }
    }
}

.dp--btn {
    border: none;
    background: none;
    font: inherit;
}

html[dir="rtl"] .dp--main .dp--btn.dp--arrow-btn-nav {
    transform: scaleX(-1);
}
