@import '../node_modules/framework7/framework7-rtl.css';
@import '../node_modules/framework7/components/dialog/dialog-rtl.css';
@import '../node_modules/framework7/components/popup/popup-rtl.css';
@import '../node_modules/framework7/components/login-screen/login-screen-rtl.css';
@import '../node_modules/framework7/components/popover/popover-rtl.css';
@import '../node_modules/framework7/components/actions/actions-rtl.css';
@import '../node_modules/framework7/components/sheet/sheet-rtl.css';
@import '../node_modules/framework7/components/notification/notification-rtl.css';
@import '../node_modules/framework7/components/toast/toast-rtl.css';
@import '../node_modules/framework7/components/preloader/preloader-rtl.css';
@import '../node_modules/framework7/components/progressbar/progressbar-rtl.css';
@import '../node_modules/framework7/components/sortable/sortable-rtl.css';
@import '../node_modules/framework7/components/swipeout/swipeout-rtl.css';
@import '../node_modules/framework7/components/accordion/accordion-rtl.css';
@import '../node_modules/framework7/components/card/card-rtl.css';
@import '../node_modules/framework7/components/chip/chip-rtl.css';
@import '../node_modules/framework7/components/form/form-rtl.css';
@import '../node_modules/framework7/components/input/input-rtl.css';
@import '../node_modules/framework7/components/checkbox/checkbox-rtl.css';
@import '../node_modules/framework7/components/radio/radio-rtl.css';
@import '../node_modules/framework7/components/toggle/toggle-rtl.css';
@import '../node_modules/framework7/components/range/range-rtl.css';
@import '../node_modules/framework7/components/grid/grid-rtl.css';
@import '../node_modules/framework7/components/picker/picker-rtl.css';
@import '../node_modules/framework7/components/fab/fab-rtl.css';
@import '../node_modules/framework7/components/infinite-scroll/infinite-scroll-rtl.css';
@import '../node_modules/framework7/components/pull-to-refresh/pull-to-refresh-rtl.css';
@import '../node_modules/framework7/components/searchbar/searchbar-rtl.css';
@import '../node_modules/framework7/components/tooltip/tooltip-rtl.css';
@import '../node_modules/framework7/components/skeleton/skeleton-rtl.css';
@import '../node_modules/framework7/components/treeview/treeview-rtl.css';
@import '../node_modules/framework7/components/typography/typography-rtl.css';
@import '../node_modules/framework7/components/swiper/swiper-rtl.css';
@import '../node_modules/framework7/components/photo-browser/photo-browser-rtl.css';
